.mobilewrapper {
    height: 732px;
    width: 412px;
    border: solid 1px;
}

.screenwrapper {
    background: url("bg.png");
    background-size: 100%;
    height:100%;
    width: inherit;
    position: absolute;
}

.navbar {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

#demo-menu-lower-left{
    margin-top: 3%;
    float:right;
    color:white;
}


.mobilewrapper .navbar button {
    float: left;
    width: 137px;
}

.mobilewrapper button {
    float:left;
    align-items: left;
    display:flex;
}

.settings {
    float:right;
    color:#666;
}

.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: url("lyb.png") center;
    background-size:100%;
    margin-left:25%;
    margin-top: 15%;
    display:flex;
    box-shadow: 5px 5px 50px black;
}

.points {
    width: 100%;
    margin:auto;
    text-align: center;
}

.points2 {
    margin-top:10%;
    width: 100%;
    text-align: center;
}

.points3  {
    margin-top:10%;
    width: 100%;
    text-align: center;
}

.material-icons {
    margin-top:12%;
    text-align: center;
}

.mdl-chip {
    width: 50%;
    background-color: teal;
}

.mdl-chip__contact {
    float:left;
}

.mdl-chip__text {
    font-size: 20px;
}

.mdl-textfield {
    width: 50%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.mdl-textfield__label {
    color:white;
    opacity: 0.6;
    text-align: center;
}




